@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Pacifico&display=swap');
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	
}

.background {
	background-image: url('../assets/background/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
    margin: 0;
    padding: 0;
	padding-bottom: 200px;
	
}



#members h2 {
	text-align: center;
	padding-top: 12px;
    letter-spacing: 3px;
	color: gray;
	
}

#members button {
	padding-left: 200px;
	padding-right: 200px;
	font-size: 30px;
	margin: 0px 150px;
	display: flex;
    background-color: #F9F6EE;
    border-radius: 8px;
    padding: 6px;
    margin: 12px 150px;

    border: 1px solid #E5E7EB;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
	display: block; /* Превращает изображение в блочный элемент */
	margin-left: auto; /* Выравнивает по центру */
	margin-right: auto; /* Выравнивает по центру  */
}

#members button:hover {
	background-color: #E5E7EB;
	
}

#badudin h1 {
	text-align: center;
	padding-top: 15px;
    letter-spacing: 3px;
	color: gray;
}

#background2 {
	background-image: url('../assets/background/bduidan.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#badudin {
	padding-bottom: 560px;
	width: 100%;
	margin: 0;
	padding-top: 0;

}

#badudin button {
	padding-left: 200px;
	padding-right: 200px;
	font-size: 30px;
	margin: 0px 150px;
	display: flex;
    background-color: #F9F6EE;
    border-radius: 8px;
    padding: 6px;
    margin: 0px;

    border: 1px solid #E5E7EB;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 200px;

}

#badudin button:hover {
	background-color: #E5E7EB;
	
}

#info {
	
    width: 450px;
    background: rgba(50, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
	margin-top: 30px;
    color: white;
    border-radius: 50px;	
	
}

#mark {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}


#mark p {
	color: white;
	text-align: center;
	font-family: "Pacifico";
	opacity: 0.6;
	margin: 0; /* Убираем стандартные отступы */
}
