body {
    background-image: url('../assets/background/background.jpg');
    background-size: cover;
    background-attachment: fixed;

}

header {
    text-align: center;
}


main p {
    text-align: center;
    font-size: 20px;
    display: flex;
    background-color: #F9F6EE;
    border-radius: 100px;
    padding: 6px;
    margin: 12px 260px;

    border: 1px solid #E5E7EB;
    box-shadow: 5px 5px 0px 0px rgb(100 100 100 /*/ 0%*/);
}


.stream_buttons {
    display: flex;
    justify-content: space-between;
    background-color: #F9F6EE;
    border-radius: 8px;
    padding: 6px;
    margin: 15px 600px;

    border: 1px solid #E5E7EB;
    box-shadow: 5px 5px 0px 0px rgb(100 100 100 /*/ 0%*/);
}

.stream_buttons:hover {
    background-color: #E5E7EB;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

